.home-container {
  position: relative;

  .hero-section {
    position: relative;

    .hero-img {
      width: 100%;
    }

    .hero-text {
      position: absolute;
      top: 30%;
      left: 15%;
      color: #fff;
    }

    .hero-text-heading {
      text-transform: uppercase;
      font-weight: 400;
    }

    .hero-text-para {
      margin-top: 16px;
      line-height: 1.4;
      font-size: 36px;
    }

    .book-trial-btn {
      margin-top: 16px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .why-section {
    padding: 144px 8px;

    .why-heading {
      text-align: center;
      font-size: 28px;

      .why-musify {
        text-transform: uppercase;
        color: #FFA726;
      }
    }

    .why-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 900px;
      margin: 80px auto 0;

      @media screen and (max-width: 767px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 20px;
      }
    }

    .why-list-item {
      @media screen and (max-width: 767px) {
        justify-self: center;
        text-align: center;

        &:last-child {
          grid-column: span 2;
        }
      }

      img {
        height: 91px;
      }
    }
  }

  .courses-section {
    background-image: url('../../images/courses.png');
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    padding: 100px 0;

    @media screen and (max-width: 767px) {
      background-image: none;
      background: linear-gradient(253.45deg, rgb(255 153 0 / 52%) 60.33%, rgba(241, 241, 241, 0.2485) 112.36%);
    }

    .courses-heading {
      font-size: 28px;
    }

    .courses-desc {
      margin-top: 20px;
    }

    .courses-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: calc(100% - 40px);
      max-width: calc(365*3px + 3*20px);
      margin: 100px auto;

      @media screen and (max-width: 767px) {
        margin: 40px auto;
        flex-direction: column;
        align-items: center;
      }
    }

    .courses-list-item {
      max-width: 365px;
      background: #fff;
      border-radius: 12px;
      width: calc(100%/3 - 20px);

      @media screen and (max-width: 767px) {
        width: auto;
        max-width: 265px;

        &:not(:first-child) {
          margin-top: 32px;
        }
      }

      img {
        max-width: 100%;
      }
    }

    .course-name {
      font-size: 25px;
      margin: 12px 0;
    }

    .book-btn {
      margin-bottom: 16px;
    }
  }

  .reviews-section {
    margin: 100px 0;
    text-align: center;
    background-image: url('../../images/reviews-bg.png');
    background-repeat: no-repeat;
    padding-bottom: 220px;

    @media screen and (max-width: 767px) {
      background-image: none;
      padding-bottom: 80px;
    }

    .reviews-heading {
      font-size: 28px;
      text-align: center;
    }

    .reviews-list-container {
      text-align: center;
      margin-top: 92px;
      position: relative;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 767px) {
        margin-top: 50px;

        .bg-img {
          display: none;
        }
      }

      img {
        max-width: 100%;
      }
    }

    .reviews-list {
      display: flex;
      position: absolute;
      top: 100%;
      transform: translateY(-60%);
      list-style: none;
      padding: 0 12px;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        position: relative;
        transform: translateY(0px);
        top: auto;
      }
    }

    .review-item {
      box-shadow: 0px 2px 20px rgba(31, 31, 31, 0.12);
      border-radius: 100px 40px 40px 30px;
      background: #fff;
      padding: 36px;
      text-align: left;
      position: relative;
      // width: calc(100%/3 - 40px);
      max-width: 320px;

      @media screen and (max-width: 767px) {
        &:not(:first-child) {
          margin-top: 92px;
        }
      }

      &:not(:last-child) {
        margin-right: 28px;

        @media screen and (max-width: 767px) {
          margin-right: 0;
        }
      }

      .review-comma {
        position: absolute;
        transform: translateY(-50%);
        right: 0;
        top: 0;
      }

      .MuiRating-root {
        margin-top: 20px;
      }

      .review-text {
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.4;
      }

      .reviewer-name {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .reviewer-img {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translate(-130%, -50%);
    }
  }

  .faqs-section {
    padding: 200px 12px;
    background-image: url('../../images/courses.png');
    background-repeat: no-repeat;

    .faqs-container {
      max-width: 880px;
      margin: auto;
    }
  }
}